/* Background */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6d80b5;
}

/* NAVBAR */
.navbar {
    background-color: #e6e2e2;
    text-align: center;
    padding: 15px 0;
}

.navbar a {
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    border-radius: 6px;
}

.navbar a.active {
    background-color: #4866c7;
    color: white;
}

/* TABLE BOX */
.main-box {
    width: 65%;
    margin: 40px auto;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    padding: 10px;
}

/* TABLE STYLE */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #6e7fa7;
    color: white;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f2f2f2;
}
